In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

In [3]:
#Tuple
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [4]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [5]:
list1=list(tup1)
list1[2]=100
tup1=tuple(list1)
tup1

(12, 3, 100, 'abc', True)

In [6]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [7]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [8]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [9]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. {}
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5. mutable

In [12]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [13]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-In functions:
min()
max()
len()
set()

In [15]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [16]:
# adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

NameError: name 'set2' is not defined

In [17]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

### built-in methods:
 #### adding an element
 1. add()
 #### removing an element
 2. pop()
 3. remove()
 4. discard()
 5. clear()

In [18]:
#union,difference,intersection,subset,super set,disjoint
#symmetric difference
A = {1,2,3,4,5,6}
B = {3,4,5,6,8,9}
#union A U B==>{1,2,3,4,5,6,8,9}
print(A.union(B))
#diffe
#A-B==>{1,2}
#B-A==>{8,9}
print(A.difference(B))
print(B.difference(A))
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2}
{8, 9}
{3, 4, 5, 6}

### Dictionary:

    '''dictionary name = {key1:value1,key2:key2,.......}'''
### Rules for key:
1. keys should be unique
2. keys should be immutable(example:numerics,string,tuple)

In [20]:
#creating a dictionary
dict1 ={"name":"abhi","emp id":2306,"address":"hyd"}
print(dict1)

{'name': 'abhi', 'emp id': 2306, 'address': 'hyd'}

In [21]:
#Extracting an element
print(dict1['emp id'])

2306

In [22]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'abhi', 'emp id': 2306}

In [23]:

#Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'abhi', 'emp id': 2306, 'course': 'python'}


### Built-in methods in dictionary:
keys()
items()
get()
items()
update()
pop()
popitem()

In [24]:

print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['abhi', 2306, 'python'])
dict_items([('name', 'abhi'), ('emp id', 2306), ('course', 'python')])

In [25]:

print(dict1["name"])
print(dict1.get("name"))

abhi
abhi

In [26]:
dict1["address"]="hyd"
dict1

{'name': 'abhi', 'emp id': 2306, 'course': 'python', 'address': 'hyd'}

In [27]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'abhi', 'emp id': 2306, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [28]:
#Removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'emp id': 2306, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [29]:
dict1.popitem()

(3, 3)

In [30]:
dict1

{'emp id': 2306, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}